{% extends 'administracion/admin_home.html'%}
{% block title %}Panel de administracion de Categorías{% endblock %}
{% block section %}
    <h1>Categoria admin</h1>
    <div>
        <a href="{% url 'crear_categoria' %}">Crear Nueva categoría</a>
    </div>
    <div>
        <h3>Listado de Categorias</h3>
        <table class="default">
            <tr>
                <td>Id</td>
                <td>Nombre</td>
                <td>Activo</td>
            </tr>
            {% for categoria in categorias %}
                <tr>
                    <td>{{ categoria.id }}</td>
                    <td>{{ categoria.nombre }}</td>
                    {% if categoria.activo is True %}
                        <td>Si</td>
                    {% else %}
                        <td>No</td>
                    {% endif %}
                    <td><a href="{% url 'editar_categoria' pk=categoria.pk %}">Editar</a></td>
                    <td><a href="{% url 'ver_categoria' pk=categoria.pk %}">Ver</a></td>
                    <td><a href="{% url 'eliminar_categoria' pk=categoria.pk %}">Eliminar</a></td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}