{% extends 'administracion/base.html'%}

{% block import_head %}

{% endblock %}


{% block title_page%}
    Panel de administración de Categoría
{% endblock %}


{% block content%}
    <div>
        <a href="{% url 'crear_categoria' %}">
            <input class="btn btn-primary" type="button" value="Crear una nueva Categoría">
        </a>
    </div>
	<h3 class="box-title">Tabla de Categorías</h3>
	<div class="table-responsive">
	    <table class="table text-nowrap">
	        <thead>
	            <tr>
	                <th class="border-top-0">ID</th>
	                <th class="border-top-0">Nombre</th>
	                <th class="border-top-0">Activo</th>
	                <th class="border-top-0">Editar</th>
	                <th class="border-top-0">Ver</th>
	                <th class="border-top-0">Eliminar</th>
	            </tr>
	        </thead>
	        <tbody>
	            {% for categoria in categorias %}
                <tr>
                    <td>{{ categoria.id }}</td>
                    <td>{{ categoria.nombre }}</td>
                    {% if categoria.activo is True %}
                        <td>Si</td>
                    {% else %}
                        <td>No</td>
                    {% endif %}
                    <td>
                        <a href="{% url 'editar_categoria' pk=categoria.pk %}">
                            <input class="btn btn-primary" type="button" value="Editar">
                        </a>
                    </td>
                    <td>
                        <a href="{% url 'ver_categoria' pk=categoria.pk %}">
                            <input class="btn btn-primary" type="button" value="Ver">
                        </a>
                    </td>
                    <td>
                        <button id="boton-mostrar" type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal-{{ categoria.pk }}" data-db="{{ categoria.pk }}">
                              Eliminar
                        </button>
                    </td>
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal-{{ categoria.pk }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Eliminar Categoría:</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <p style="text-align: left; font-size: large">¿Está seguro de eliminar el categoría: <strong>{{ categoria.nombre }}</strong>?</p>
                                </div>
                                <div class="modal-footer">
                                    <form action="{% url 'eliminar_categoria' pk=categoria.pk%}" method="post">
                                        {% csrf_token %}
                                         <button class="btn btn-danger" type="submit">Confirmar</button>
                                    </form>
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </tr>
            {% endfor %}
	        </tbody>
	    </table>
	</div>
{% endblock %}

{% block import_footer %}

{% endblock %}