{% extends 'administracion/admin_home.html'%}
{% block title %}Panel de administracion de Ofertas{% endblock %}
{% block section %}
    <h1>Oferta admin</h1>
    <div>
        <a href="{% url 'crear_oferta' %}">Crear Nueva Oferta</a>
    </div>
    <div>
        <h3>Listado de Ofetas</h3>
        <table class="default">
            <tr>
                <td>Id</td>
                <td>Descripción</td>
                <td>Fecha de inicio</td>
                <td>Fecha de finalización</td>
                <td>Activo</td>
            </tr>
            {% for oferta in ofertas %}
                <tr>
                <td>{{ oferta.id }}</td>
                <td>{{ oferta.descripcion }}</td>
                <td>{{ oferta.fechaInicio }}</td>
                <td>{{ oferta.fechaFin }}</td>
                    {% if oferta.activo  is True %}
                        <td><p>Si</p> </td>
                        {% else %}
                        <td><p>No</p> </td>
                    {% endif %}

                <td><a href="{% url 'editar_pedido' pk=pedido.pk %}">Editar</a></td>
                <td><a href="{% url 'ver_pedido' pk=pedido.pk %}">ver</a></td>
                <td><a href="{% url 'eliminar_pedido' pk=pedido.pk %}">Eliminar</a></td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}