{% extends 'administracion/admin_home.html'%}
{% block title %}Panel de administracion de Ofertas{% endblock %}
{% block section %}
    <h1>Pedido admin</h1>
    <div>
        <a href="{% url 'crear_pedido' %}">Crear Nueva Pedido</a>
    </div>
    <div>
        <h3>Listado de Pedidos</h3>
        <table class="default">
            <tr>
                <td>Id</td>
                <td>Cliente</td>
                <td>Estado</td>
                <td>Fecha</td>
                <td>Pagado</td>
            </tr>
            {% for pedido in pedidos %}
                <tr>
                <td>{{ pedido.id}}</td>
                <td>{{ pedido.cliente }}</td>
                <td>{{ pedido.estado }}</td>
                <td>{{ pedido.hora_pedido }}</td>
                    {% if pedido.pagado is True %}
                        <td>Si</td>
                    {% else %}
                        <td><p>No</p></td>
                    {% endif %}
                <td><a href="{% url 'editar_pedido' pk=pedido.pk%}">Editar</a></td>
                <td><a href="{% url 'ver_pedido' pk=pedido.pk %}">ver</a></td>
                <td><a href="{% url 'eliminar_pedido' pk=pedido.pk %}">Eliminar</a></td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}