{% extends 'administracion/admin_home.html'%}
{% block title %}Eliminar Pedido{% endblock %}
{% block section %}
    <h2>Eliminar Pedido</h2>
    <div id="categoria-delete">
        <form method="post">
            {% csrf_token %}
            <p>¿Estas seguro de eliminar el Pedido: {{ pedido.hora_pedido }}?</p>
            <button type="submit">Si, confirmar</button>
            <a href="{% url 'listar_pedido' %}">
               <input type="button" value="Cancelar" />
            </a>
        </form>
    </div>
{% endblock %}