{% extends 'administracion/base.html'%}

{% block import_head %}

{% endblock %}


{% block title_page%}
    Editar Ubicación de Pedido
{% endblock %}

{% block content%}
        <div>
            <a href="{% url 'marcar_pedido' pk=pedido.pk %}">
                <input class="btn btn-success" type="button" value="Marcar Ubicacion">
            </a>
            <a href="{% url 'ver_cliente' pk=pedido.id %}">
                <input class="btn btn-info" type="button" value="Datos del clientes">
            </a>
        </div>
        <hr>
    {% if message %} <span style="color: green">{{ message|safe }}</span> {% endif %}
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <div>
            <button class="btn btn-primary">Guardar cambios</button>
            <a href="{% url 'listar_pedido' %}">
                <input class="btn btn-secondary" type="button" value="Canlelar">
            </a>
        </div>
    </form>
{% endblock %}

{% block import_footer %}

{% endblock %}