{% extends 'administracion/base.html'%}

{% block import_head %}

{% endblock %}


{% block title_page%}
    Eliminar Producto: {{ producto.id }}
{% endblock %}


{% block content%}
    <div id="producto-detalle">
        <form method="post">
            {% csrf_token %}
            <p style="text-align: left; font-size: large">¿Está seguro de eliminar el producto: <strong>{{ producto.descripcion }}</strong>?</p>
            <button class="btn btn-danger" type="submit">Si, confirmar</button>
            <a href="{% url 'listar_productos' %}">
               <input class="btn btn-secondary" type="button" value="Cancelar" />
            </a>
        </form>
    </div>
{% endblock %}

{% block import_footer %}

{% endblock %}