{% extends 'administracion/admin_home.html'%}
{% block title %}Panel de administracion de productos{% endblock %}
{% block section %}
    <h1>Productos admin</h1>
    <div>
        <a href="{% url 'crear_producto' %}">Crear nuevo producto</a>
    </div>
    <div>
        <h3>Lista de Productos</h3>
        <table class="default">
            <tr>
                <td>Id</td>
                <td>Descripcion</td>
                <td>Precio</td>
                <td>Opcione1</td>
                <td>Opcione2</td>
            </tr>
            <tr>
                <td>01</td>
                <td>Gaseos coca cola 5</td>
                <td> s/. 1.20 </td>
                <td><a href="{% url 'editar_producto' pk=1 %}">Editar</a></td>
                <td><a href="#">Eliminar</a></td>
            </tr>
            <tr>
                <td>02</td>
                <td>Pan integral</td>
                <td> s/. 1.20 </td>
                <td><a href="{% url 'editar_producto' pk=1 %}">Editar</a></td>
                <td><a href="#">Eliminar</a></td>
            </tr>
            {% for producto in productos %}
                <tr>
                    <td>02</td>
                    <td>Pan integral</td>
                    <td> s/. 1.20 </td>
                    <td><a href="#">Editar</a></td>
                    <td><a href="#">Eliminar</a></td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}