{% extends 'administracion/admin_home.html'%}
{% block title %}Panel de administracion de productos{% endblock %}
{% block section %}
    <h2>Detalles del producto</h2>
    <div id="producto-detalle">
        <h3>Descripcion: {{ producto.descripcion }}</h3>
        <img src="#" alt="foto de referencia del producto">
        <p>{{ producto.dellates }}</p>
        <p>Tipo: {{ producto.tipo }}</p>
        <p>Precio: S/. {{ producto.precio }}</p>
        <p>precio de venta: S/. {{ producto.precio_compra }}</p>
        <p>Fecha de creacion: {{ producto.creadoEn }}</p>
        <p>Fecha de ultima modificacion: {{ producto.modificadoEn }}</p>
        {% if producto.activo is True %}
            <p>Estado: Si</p>
        {% else %}
            <p>Estado: No</p>
        {% endif %}
        <p>Categoria: {{ producto.categoria }}</p>
        <p>Puntuacion: {{ producto.categoria }}</p>
        <p>Cantidad: {{ producto.cantidad }}.</p>
    </div>
{% endblock %}